@media (max-width:1024px){
    .stocks .list-it {
        margin-left: 5%;
        margin-right: 5%;
    }
    .icons-boxes:before{ right: -5px;}
    .icons-boxes:after{ left: -5px;}
    .article .title img{ max-width: 150px;}
    .icon-large:before{ top: 0;}
    .article .content p{ padding-top: 15px;}
    .image-pictogram-key:after { left: 45%; }
    .back-tea {
        margin-right: -15px;
    }
    .article .title img.british {
        max-width: 90px;
    }
    .list-it .base .spaceForDescription {    
        padding: 0 20px 0 40px;
        display: table;
    }
/*
    .list-price:last-child,
    .list-price{ margin: 0 auto;  margin-bottom: 15px; float: none;}    
*/
    
    .about .item-col{ float: left; width: 33%!important;}
    
    .delivery .item-col{
        width: 100%;
        float: none;
    }
}

@media (max-width:1024px) and (min-width:763px){
.navbar-nav > li{
    float:none;
    display: block;
    }
    .navbar-nav > li > a{padding:0 3px;}
.nav{margin-left:0;}
.navbar .container{width:100%;padding:0;}

.navbar-nav{float:none;}
.icons-network a{margin-left:0;}
.navbar-header{float:none;}
    .navbar-inverse .navbar-toggle {
    z-index: 10;
}
    .navbar-toggle{display:block!important;}
    .navbar-toggle.collapsed{
        border-color: #7ed5ff;
    }
    .navbar-toggle.collapsed span{
        background: #7ed5ff!important;
    }
    .navbar-collapse.collapse {
        overflow: hidden!important;
        height: 0;
        opacity: 0.8;
        border-color: transparent;
        background: white;
    }
    .navbar-collapse.in .navbar-nav > li > a {
        line-height: 40px;
        text-align: center;
        padding: 0;
        opacity: 1;
        display: block;
        transition: none;
    }
    
}
@media (max-width:768px){
    .header .item-middle{ display: none;}
    section.header .title {
        position: relative;
        margin-top: -10px;
    }
}

@media (max-width:640px){
}

@media (max-width:500px){
}

@media (max-width:400px){
}